@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,600);
@import url(https://fonts.googleapis.com/css?family=Audiowide);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,900,700italic,700,600italic,600,400italic);

body {
	color: #FFF;
	/* font-family: 'Open Sans', sans-serif; */
	height: 100%;
	width: 100%;
	margin: 0;
	background: #000000;
	font-family: 'Titillium Web', cursive;
	font-weight: 100;
}

.ie body {
	filter: dropshadow(color=#000000, offx=0, offy=1);
}

h1 {
	font-size: 40px;
	/* letter-spacing:-2px; */
	text-align: center;
	padding-top: 30px;
	font-weight: 400;
	font-family: 'Audiowide', cursive;
	text-shadow: 0px 1px 1px rgba(12, 11, 11, 0.56);
}

.ie h1 {
	filter: dropshadow(color=#000000, offx=0, offy=3);
	padding-bottom: 12px;
}

.ie h2 {
	filter: dropshadow(color=#000000, offx=0, offy=3);
}

h3 {
	font-size: 25px;
	margin: 0.2em 0;
}

.ie h3 {
	filter: dropshadow(color=#000000, offx=0, offy=3);
}

h4 {
	margin-bottom: 5px;
}

p,
pre {
	margin: 0 0 10px 0;
}

.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 0;
	position: absolute;
	height: 100% !important;
	bottom: 0px;
	background-image: url('../img/demo-1-bg.jpg');
}

code {
	text-transform: uppercase !important;
	color: #EEE;
	border-bottom: 1px dotted #666;
}

small {
	background: url(../images/alpha.png);
	background: rgba(0, 0, 0, 0.8) url();
	border: 1px solid #111;
	font-size: 15px;
	padding: 0 5px;
}

a {
	color: #7b7b7b;
	text-decoration: none;
}

a:hover {
	color: #E3ECFF;
}

a.logo {
	color: #FFF;
	float: right;
}

.timer {
	/* display: inline-block; */
	/* display: grid;
	grid-template-columns: repeat(2, 1fr); */
	line-height: 1.2;
	padding: 20px;
	font-size: 40px;
}

span {
	display: block;
	font-size: 20px;
	color: white;
}

#days {
	font-size: 50px;
	color: #db4844;
}

#hours {
	font-size: 50px;
	color: #f07c22;
}

#minutes {
	font-size: 50px;
	color: #f6da74;
}

#seconds {
	font-size: 25px;
	color: #abcd58;
}

#header {
	margin-bottom: 62px;
	position: relative;
	width: 100%;
	height: 82px;
	line-height: 82px;
	z-index: 1;
}

.my_intro {
	padding: 20px;
}

.wrapper {
	margin: 0 auto;
	position: relative;
	z-index: 1;
	width: 1170px;
	text-align: right;
}

.tempBy {
	display: block;
	text-align: right;
	margin-top: 40px;
	font-size: 13px;
	color: #fff;
}

#Content h2 {
	display: block;
	margin: 25px 0 42px;
	padding: 0px;
	text-align: right;
	font-size: 24px;
	font-weight: 300;
	color: #fff;
	line-height: 42px;
	text-transform: capitalize;
}

#WindowSlide {
	margin: 0 auto;
	position: relative;
	width: 634px;
	height: 170px;
	display: block;
	overflow: hidden;
}


.callback,
.simple {
	font-size: 20px;
	background: #27ae60;
	padding: 0.5em 0.7em;
	color: #ecf0f1;
	margin-bottom: 50px;
	-webkit-transition: background 0.5s ease-out;
	transition: background 0.5s ease-out;
}

.callback {
	cursor: pointer;
}

.ended {
	background: #c0392b;
}

.countdown {
	text-align: center;
}

.intro {
	font-size: 22px;
	font-weight: normal;
	margin-bottom: 30px;
}

.styled {
	padding: 90px 0 40px;
	display: block;
	float: right;
}

.styled div {
	display: inline-block;
	font-size: 80px;
	font-weight: 400;
	text-align: center;
	margin: 0 1px;
	width: 136px;
	padding: 10px 30px 53px;
	height: 100px;
	/* background: rgba(255, 255, 255, 0.18); */
	text-shadow: none;
	vertical-align: middle;
	border: 1px dashed rgba(255, 255, 255, 0.36);
	text-shadow: 1px 0px 2px rgba(12, 11, 11, 0.56);
}

#overlay {
	background: rgba(0, 0, 0, 0.04) url(../images/overlays/06.png) top left repeat;
	background: rgba(0, 0, 0, 0.14);
	position: fixed;
	top: 0px;
	width: 100%;
	bottom: 0px;
	opacity: 0.8;
}

/* IE7 inline-block hack */
*+html .styled div {
	display: inline;
	zoom: 1;
}

.styled div:first-child {
	margin-left: 0;
}

.styled div span {
	display: block;
	padding-top: 3px;
	font-size: 17px;
	font-weight: 400;
	text-align: center;
}

footer {
	width: 100%;
	height: 30px;
	background: rgba(0, 0, 0, 0.64);
	position: absolute;
	bottom: 0px;
}

footer span {
	float: right;
	margin: 10px;
}

.top-wrapper {
	width: 100%;
	padding: 0;
	/* background: #EC253F; */
	float: left;
}

.bottom-wrapper {
	/* width: 90%; */
	padding: 34px 0;
	/* background:#fff; */
	float: left;
}

.tempBy a:hover {
	color: #444;
}

@media(max-width:998px) {
	body {
		min-width: initial !important;
	}

	#header {
		/* margin-bottom: 78px; */
		position: relative;
		width: 100%;
		/* height: 45px; */
		/* line-height: 35px; */
		z-index: 1;
	}

	.wrapper {
		width: 90%;
	}

	.styled div {
		margin-bottom: 10px;
	}

}

@media(max-width:768px) {
	body {
		min-width: initial !important;
	}

	.wrapper {
		width: 90%;
	}

	.styled div {
		margin-bottom: 10px;
		font-size: 34px;
		font-size: 68px;
	}

	.styled div span {
		font-size: 14px;
	}

	#Content h2 {
		display: block;
		margin: 0px 0 29px;
		padding: 0px;
		/* text-align: center; */
		font-size: 21px;
		font-weight: 300;
	}
}

@media(max-width:420px) {
	h1 {
		font-size: 35px;
	}

	#header {
		margin-bottom: 30px;
	}

	footer {
		position: relative !important;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	.styled {
		padding: 90px 0 40px;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.styled {
		padding: 90px 0 40px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.wrapper {
		width: 100%;
		margin: 0 15px;
	}

	.styled {
		padding: 90px 0 40px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.wrapper {
		width: 1170px;
		margin: 0 auto;
	}

	.styled {
		padding: 90px 0 40px;
	}
}

/* --------------------------------------------------- */